@import "tailwindcss";

@font-face {
  font-family: "Roc Grotesk";
  src: url("./assets/roc-grotesk-regular.otf") format("truetype");
  font-weight: normal;
  font-size: normal;
}

body {
  font-family: "Roc Grotesk", sans-serif;
}

.loader {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: block;
  margin: 15px auto;
  position: relative;
  background: #fff;
  box-shadow: -24px 0 #fff, 24px 0 #fff;
  box-sizing: border-box;
  animation: shadowPulse 2s linear infinite;
}

@keyframes shadowPulse {
  33% {
    background: #fff;
    box-shadow: -24px 0 #FFA92F, 24px 0 #fff;
  }
  66% {
    background: #FFA92F;
    box-shadow: -24px 0 #fff, 24px 0 #fff;
  }
  100% {
    background: #fff;
    box-shadow: -24px 0 #fff, 24px 0 #FFA92F;
  }
}
