@import "tailwindcss";

@font-face {
  font-family: "Roc Grotesk";
  src: url("./assets/roc-grotesk-regular.otf") format("truetype");
  font-weight: normal;
  font-size: normal;
}

body {
  font-family: "Roc Grotesk", sans-serif;
}
